audio {
  display: block;
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 35px;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}

ion-icon {
  font-size: calc(8 * 12px);
}
